* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: center / cover no-repeat fixed url('/images/bg.jpg');
}

.container {
  padding-top: 70px;
}

.hero-list,
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero-list {
  margin-bottom: 40px;
}

.logo {
  max-width: 320px;
}

.logo > img {
  width: 100%;
}

.hero {
  width: 85px;
  height: 88px;
  border: 4px solid #fff;
  border-radius: 12px;
  margin: 4px;
  background-color: #555;
  transform: skewX(-13deg);
  overflow: hidden;
}

.hero:hover {
  background-color: #ff9c00;
  transform: skewX(-13deg) scale(1.2);
  transition: background-color 0.5s;
}

.hero > img {
  height: 100%;
  transform: skewX(13deg) translateX(-7px);
}
